<h3>Listado de Heroes</h3>


<div *ngIf="delatedHero; else nothingWasDelated">
  <h3>Heroe Borrado <small class="text-danger"> {{ delatedHero }} </small> </h3>
</div>

<ng-template #nothingWasDelated>
  <h3>No ha borrado nada.</h3>
</ng-template>



<button
*ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger">
  Borrar ultimo heroe
</button>






<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames"
      class="list-group-item">
      {{ name }}
  </li>
</ul>
